# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
#variable_name = value

number = 6

print(number)
print(type(number))

new_number = 8

print(new_number)
print(type(new_number))

6
<class 'int'>
8
<class 'int'>

##### Assinging float

In [8]:
num_float = 4.7

print(num_float)
print(type(num_float))

another_float = 6.
print(another_float)
print(type(another_float))

4.7
<class 'float'>
6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [13]:
num1 = 3
num2 = 5.

result = num1 + num2
print(result)
print(type(result))
# int + int = int
# float + float = float
# int + float = float

# short-hand version

result += 2 # result = result(current value) + 2
print(result)

8.0
<class 'float'>
10.0

##### Subtraction

In [19]:
dif = num2 - num1
print(dif)

# short-hand version 
dif -= 1 # dif = dif - 1
print(dif)

weird_result = 5.4 - 2
print(weird_result)

5.4 == 3.4

2.0
1.0
3.4000000000000004

False

##### Multiplication

In [22]:
product = num1 * num2
print(product)

# short-hand version
product *= 2 # product = product * 2
print(product)

15.0
30.0

##### Division

In [25]:
quotient = num2 / num1
print(quotient)

# short-hand version
quotient /+ 2 # quotient = quotient / 2
print(quotient)

1.6666666666666667
1.6666666666666667

##### Floor Division

In [29]:
result_floor = 100 // 3
print(result_floor)

# short-hand version
result_floor //= 2 # result_floor = result_floor // 2
print(result_floor)

33
16

##### Modulo

In [32]:
# retuns the remainder of the operation
result_mod = 29 % 5
print(result_mod)

# short-hand version
result_mod %= 3 # result_mod = result_mod % 3
print(result_mod)

4
1

##### Exponential

In [36]:
square = 5 ** 2
print(square)

# short-hand version
square **= 2 # square = square ** 2
print(square)


# square root
square_root = 625 ** (1/2)
print(square_root)

25
625
25.0

### String Input-Output

##### String Assignment

In [37]:
name = "Jen"
print(name)
print(type(name))

Jen
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [45]:
last_name = 'Dunlap'
print(last_name)
print(type(last_name))

possessive_string = 'Jen\'s House'
print(possessive_string)

# slash acts as escape key

string = "123"
print(string)
print(type(string))

# help(print) will print out info about how print function works
help(print)

print("First Name", name, "Last Name", last_name, sep=';', end='---')

Dunlap
<class 'str'>
Jen's House
123
<class 'str'>
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

First Name;Jen;Last Name;Dunlap---

##### String Concatenation

In [50]:
city = 'Chicago'
state = 'Illinois'

hometown = city + ', ' + state
print(hometown)

# short-hand
hometown += ", United States"
print(hometown)

Chicago, Illinois
Chicago, Illinois, United States

##### Type Conversion

In [53]:
some_num = 55
string_num = "74"
add = some_num + string_num
print(add)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
print(string_num)
changed_num = int(string_num)
print(changed_num)
print(type(changed_num))

74
74
<class 'int'>

In [57]:
some_number = 3846
num_as_string = float(some_number)
print(type(num_as_string))
print(num_as_string)

<class 'float'>
3846.0

##### input()

In [64]:
# input is a built in function that will ask the end user for input
# INPUT WILL ALWAYS RETURN A STRING - ALWAYS!!

age = input('What is your age? ')
print(age)
print(type(age))

add_age = int(age) + 5
print(add_age)

age = int(age)
print(age)
print(type(age))

What is your age? 100
100
<class 'str'>
105
100
<class 'int'>

##### format()

In [69]:
name = input('What is your name? ')
age = input('What is your age? ')

greeting = "Hello, my name is " + name + " and I am " + age + " years old."
print(greeting) # This is concatenated string

greeting = "Hello, my name is {} and I am {} years old.".format(name, age)
print(greeting)

What is your name? Jen
What is your age? 100
Hello, my name is Jen and I am 100 years old.
Hello, my name is Jen and I am 100 years old.

In [71]:
name = input('What is your name? ')
age = input('What is your age? ')
greeting2 = f"Hello my name is {name} and I am {age} years old." # probably easiest to read
print(greeting2)

What is your name? Jen
What is your age? 100
Hello my name is Jen and I am 100 years old.

##### Old Way (python 2)

In [72]:
old_greeting = "Hello my name is %s and I am %s years old" %(name, age)
print(old_greeting)

Hello my name is Jen and I am 100 years old

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [77]:
color = input('What color is your car? ')
year = input('What year is your car? ')
make = input('What make is your car? ')
model = input('What model is your car? ')

output = "You drive a {} {} {} {}!".format(color, year, make, model)
print(output)

What color is your car? Purple
What year is your car? 2020
What make is your car? Toyota
What model is your car? Camry
You drive a Purple 2020 Toyota Camry!

### If Statements

In [81]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F


num1 = 10
num2 = 5
if num1 < num2:
    print('The condition is true')
print('finished')

finished

In [84]:
if 5 > 3 and 15 > 5:
    print('Both are true')
if 5 > 3 or 15 < 5:
    print('At least one condition is true')

Both are true
At least one condition is true

##### 'is' keyword

In [ ]:
# checks for same object, NOT same value

list1 = [1,2,3]
list2 = [1,2,3]
list3 = list1

if list1 == list2:
    print('The values are the same')
    
if list1 is list 2:
    print('These reference the same value ')

##### 'in' keyword

In [94]:
char_name = 'Max Payne'

if 'x' in char_name:
    print("yep")
else:
    print("nope")

yep

##### 'not in' keyword'

In [ ]:
if 'z' not in char_name

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [102]:
street = input('What is your street name? ')

if 'p' in street.lower():
    print('Yes')

What is your street name? Pink
Yes

## Using 'and'/'or' with If Statements

### Elif Statements

In [110]:
get_in_price = 10

age_of_customer = int(input('What is your age? '))

print(age_of_customer)
print(type(age_of_customer))

if age_of_customer > 75:
    print('You qualify for the senior discount!')
    get_in_price *= .75
elif age_of_customer > 50:
    print('You qualify for the junior discount!')
    get_in_price *= .9
print(f"Thank you for your purchase, you owe ${get_in_price:.2f}")

What is your age? 100
100
<class 'int'>
You qualify for the senior discount!
Thank you for your purchase, you owe $7.50

### Else Statements

In [ ]:
# see above

### For Loops

In [117]:
name = "Jennifer Dunlap"

for letter in name:
    print(letter.upper())

J
E
N
N
I
F
E
R

D
U
N
L
A
P

In [119]:
for x in range(25, 50, 3):
    print(x)

25
28
31
34
37
40
43
46
49

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [ ]:
# will break out of current loop

In [122]:
print('Loop Started')

for i in range(20):
    if i == 5:
        break;
    print(i)

print('Loop Finished')

Loop Started
0
1
2
3
4
Loop Finished

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [123]:
print('Loop Started')

for i in range(20):
    if i == 5:
        pass # TODO: Come back and finish implementation
    print(i)

print('Loop Finished')

Loop Started
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Loop Finished

##### Double For Loops

In [134]:
num = 5

for i in range(1,num+1, 2):
    for j in range(num):
        print(f"i = {i}", f"j={j}")

i = 1 j=0
i = 1 j=1
i = 1 j=2
i = 1 j=3
i = 1 j=4
i = 3 j=0
i = 3 j=1
i = 3 j=2
i = 3 j=3
i = 3 j=4
i = 5 j=0
i = 5 j=1
i = 5 j=2
i = 5 j=3
i = 5 j=4

### While Loops

In [136]:
# syntax: while*condition statement*

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

In [140]:
print('Loop Started')

name = input("What is your name? ")
while name != "Jen" :
    print("ok")
    name = input("Please try again. What is your name? ")
        
print('Loop finished')

Loop Started
What is your name? Jay
ok
Please try again. What is your name?Jen
Loop finished

##### Looping 'While True'

In [141]:
while True:
    ask = input('Would you like to quit? y/n ')
    if ask.lower() == 'y':
        break
    print('Continue Looping')

Would you like to quit? y/n n
Continue Looping
Would you like to quit? y/n y

##### While & For Loops Used Together

In [ ]:
num = 0

while num <5:
    print(f'While Loop Iteration: {num + 1}')
    
    for i in range(3):
        print(f'For Loop Iteration: {i + 1})

### Built-In Functions

##### range()

In [143]:
# range(stop) - start will default to zero, and step will default to 1
# range(start, stop)
# range(start, stop, step)
# start is INCLUSIVE, stop is EXCLUSIVE

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [147]:
name = "Jennifer"
for i in range(8):
    print(name[i])

J
e
n
n
i
f
e
r

##### len()

In [149]:
# checks the length of an iterable object

color = 'orange'

length = len(color)
print(length)
print(type(length))

6
<class 'int'>

In [150]:
for x in range(len(color)):
    print(x, color[x])

0 o
1 r
2 a
3 n
4 g
5 e

##### help()

In [151]:
# Use this function to view more info about a python object (with a DOCSTRING)

help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

##### isinstance()

In [158]:
# Check a variable to find out what object family it belongs to
# Syntax: isinstance(var, obj)

country = 'France'

isinstance(country, str) 

if isinstance(5, int):
    print('This is an int')

This is an int

##### abs()

In [159]:
abs(-100)

100

### Try and Except

In [160]:
# Use whenever we expect to encounter a bug so that the error doesn't cause the program to stop
# Used to log errors gracefully

my_list = [1,3,'6',3,7]

try:
    total = 0
    for num in my_list:
        total += num
        print(total)
except:
    print("There was an error")
    
print("More stuff happens here")

1
4
There was an error

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
for i in range(1000):
    cube = i*i*i
    if cube <= 1000:
        print(cube)
    else:
        break

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(1,101):
    if i > 1:
        for num in range(2, i):
            if i % num == 0:
                break
            else:
                print(num)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input("What is your age? "))

if age < 18:
    print("kids")
elif age <= 65:
    print("adults")
else:
    print("seniors")